{% extends "base_user.html" %} {% block Content %}
<!-- start: Content -->
<div id="content" class="span10">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <a href="index.html">Home</a>
      <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Typography</a></li>
    <i class="icon-angle-right"></i>
    <li><a href="/prouser/" target="_self">验证</a></li>
    <i class="icon-angle-right"></i>
    <li><a href="/put_pro_usr_user_role/" target="_self">为项目中的用户分配user角色</a></li>
    <i class="icon-angle-right"></i>
    <li><a href="/get_role/" target="_self">列出角色</a></li>
  </ul>

  <div class="row-fluid sortable">
    <div class="box span9">
      <div class="box-header">
        <h2>
          <i class="halflings-icon font"></i>
          <span class="break"></span>
          Swift
        </h2>
      </div>
      <div class="box-content">
        <div class="page-header">
          <h1>
            <!-- 使用 Bootstrap-select 插件初始化select元素 -->
            <div>
              <select id="myselect1" class="selectpicker" data-style="btn-info" data-width="100%">
                <option></option>
              </select>
            </div>
            项目选择
            <small>
              请先进行选择当前用户所在项目，每个用户会默认被分配一个项目，如需更多请联系管理员进行申请，一个项目可同时存在多个用户（即可进行文件共享）
            </small>
          </h1>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <img src="{{ STATIC_PREFIX }}img/cokg.png" alt="" srcset="" />
            <!-- <h3>Sample text and paragraphs</h3> -->
            <p>OpenStack Object Storage ( Swift ) 即对象存储，提供了强大的扩展性、冗余性和持久性</p>
            <p>
              Swift 不是一个传统的文件系统，也不是一个块存储系统，而是一个可以存放大量非结构
              化数据的、支持多租户的、可以高扩展的持久性对象存储系统。Swift通过RESTAPI来存放、
              检索和删除容器中的对象。开发者可以直接通过 Swift API使用Swift服务，也可以通过多种
              语言的客户库程序中的任何一个进行使用，比如Jaya、Python、Ruby、PHP和C#。
            </p>
          </div>
          <div class="span4">
            <img src="{{ STATIC_PREFIX }}img/yunup.png" alt="" srcset="" />
            <!-- <h3>Example body text</h3> -->
            <p>
              与传统的存储系统不同，Swift采用的是“数据最终一致”的设计思想。这种设计使得
              Swift可以支持极大数量的并发连接和超量的数据集合。Swift使用普通的服务器来构建强大的
              具有扩展性、冗余性和持久性的分布式对象存储集群，存储容量可达PB级。高扩展指的是它
              可以从少数几个存储节点和磁盘驱动器扩展到可以存放PB级数据的几千个存储节点。Swif
              可以进行横向扩展，没有单点故障。下面我们将介绍Swift最关键的几个特点和功能。
            </p>
          </div>
          <div class="span4">
            <img src="{{ STATIC_PREFIX }}img/cfile.png" alt="" srcset="" />
            <p>
              对象( Object )就是存储在此系统中的真正的数据。数据可以为很多类型的文件，所以，
              你可以存入照片、录像、文档、日志、数库备份、文件系统的快照，或者其他非结构化数据。
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/span-->

    <div class="box span3">
      <div class="box-header" data-original-title>
        <h2>
          <i class="halflings-icon list"></i>
          <span class="break"></span>
          目前可分类的文件类型
        </h2>
      </div>
      <div class="box-content">
        <ul>
          <li>图片</li>
          <li>文档</li>
          <li>音频</li>
          <li>视频</li>
        </ul>
      </div>
    </div>
  </div>
  <!--/row-->
</div>
<!--/.fluid-container-->

<!-- end: Content -->
{% endblock %}
{% block script %}
<!-- <script>
  $(document).ready(function () {
    // 使用 jQuery AJAX 请求从 Django 后端获取数据，并根据返回的 JSON 数据动态生成 <option> 标签
    $.ajax({
      url: '/get_options/',  // Django 后端处理该请求的 URL
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log("data:  ", data);
        var options_html = '';
        for (var i = 0; i < data.length; i++) {
          options_html += '<option value="' + data[i].id + '"'
          if (i == 0) {
            options_html += ' selected'
          }
          options_html += '>' + data[i].name + '</option>';
        }
        $('#myselect, #myselect1').html(options_html);
        $('#myselect, #myselect1').selectpicker('refresh');
        if (sessionStorage.getItem('selected_value') == 'null') {
          $('#myselect').selectpicker('val', $('.selectpicker option:first').val());
          $('#myselect1').selectpicker('val', $('.selectpicker option:first').val());
          var selectedValue = $('#myselect').val();
          console.log("452486534:  ", selectedValue);
          sessionStorage.setItem('selected_value', selectedValue);
          $.ajax({
            url: '/set_session/',  // Django 后端处理该请求的 URL
            type: 'POST',
            dataType: 'json',
            data: {
              'selected_value': selectedValue
            },
            success: function (data) {
              console.log('第一次验证 selectedValue传递成功： ', data)
              console.log('第一次验证 Session set successfully.');
            },
            error: function () {
              console.error('第一次验证 Error setting session.');
            }
          });
        } else {
          // 从sessionStorage获取选中项的值
          var selectedValue = sessionStorage.getItem('selected_value');
          console.log("从sessionStorage获取选中项的值:  ", selectedValue);
          $('#myselect, #myselect1').selectpicker('val', selectedValue);
        }
      },
      error: function () {
        console.error('Error fetching options data.');
      }
    });

    // 为 <select> 元素添加一个事件监听器，当选中的值发生变化时，使用 jQuery AJAX 向 Django 后端发送选中的值，并保存到 session 中
    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
      // 获取当前 select 的值
      var selectedValue = $(this).val();
      // 将另一个 select 的值设置为当前 select 的值
      $('.selectpicker').not(this).val(selectedValue).selectpicker('refresh');

      // var value = $(e.currentTarget).selectpicker('val');
      // $('#myselect1').selectpicker('val', value);

      // var selectedValue = $('#myselect').val();
      var selectedName = $('#myselect').find('option:selected').text();
      // 将选中项设置为session
      sessionStorage.setItem('selected_value', selectedValue);
      sessionStorage.setItem('selectedName', selectedName);
      $.ajax({
        url: '/set_session/',  // Django 后端处理该请求的 URL
        type: 'POST',
        dataType: 'json',
        data: {
          'selected_value': selectedValue
        },
        success: function (data) {
          console.log('Session set successfully.');
        },
        error: function () {
          console.error('Error setting session.');
        }
      });
    });
  });
</script> -->
{% endblock %}