{% extends "base.html" %}
{% block title %}容器{% endblock %}
{% block right %}
<div class="col-md-9 col-md-offset-1 right">
	<ul class="breadcrumb">
		<li><a href="/login/list" target="_self">我的文件</a> <span class="divider">/</span></li>
		<li><a href="#" target="_self">{{ counte_name }}{{ request.session.count_name }}</a> <span class="divider">/</span>
		</li>
		<li class="active">Data</li>
	</ul>
	<div class="panel-heading">
		<tr>
        	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal" data-whatever="Create flavor">新建flavor</button>
		</tr>
	</div>
	<div class="panel panel-default">
		<td><form action="ret" method="get">
			<button type="submit" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-chevron-left"></span> 返回
			</button>
			</form></td>

	<!-- Table -->
	<div class="row panel-body" style="height: 100%;width:100%; overflow:scroll;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>flavor名称</th>
					<th>VCPU数量</th>
					<th>内存</th>
					<th>根磁盘</th>
					<th>临时磁盘</th>
					<th>交换磁盘</th>
					<th>RT/TX因子</th>
					<th>标识</th>
					<th>公有&nbsp;/&nbsp;私有</th>
					<th>元数据</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% for fla in flalist %}
			<tbody>
				<tr>
					<td>{{fla.name}}</td>
					<td>{{fla.vcpus}}</td>
					<!-- <td>{{fla.ram|filesizeformat}}</td> -->
					<td>{{fla.ram}} MB</td>
					<td>{{fla.disk}} GB</td>
					<td>{{fla.Temporary_disk|escape}} GB</td>
					<td>{{fla.swap|escape}} MB</td>
					<td>{{fla.rxtx_factor}}</td>
					<td>{{fla.id}}</td>
					<td>{{fla.is_public}}</td>
					<td>{{fla.extra_specs}}</td>
					<td>
					<ul class="nav navbar-nav">
              			<li class="dropdown">
          					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              					管理<span class="caret"></span></a>
          					<ul class="dropdown-menu">
            					<li><a class="btn btn-default" data-toggle="modal" data-target="#{{fla.id}}">删除</a></li>
            					<li><a class="btn btn-default" data-toggle="modal" data-target="#{{fla.id}}d" data-whatever="{{fla.id}}">更新</a></li>
          					</ul>
        	  			</li>
            		</ul>
					</td>
					<td>
					<!-- Button trigger modal -->
					<!-- <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#{{fla.id}}">删除</button> -->
					<!-- deleteModal -->
					<div class="modal fade" id="{{fla.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  						<div class="modal-dialog" role="document">
    						<div class="modal-content">
      							<div class="modal-header">
        							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        							<h4 class="modal-title" id="myModalLabel">操作提示：</h4>
      							</div>
      							<form method="post" action="/del_fla/">
      							<div class="modal-body">
          							<div class="form-group">
            							<label for="recipient-name" class="control-label">确认删除？</label>
            							<p>{{fla.name}}</p>
          							</div>
          							<div class="form-group">
            							<label for="message-text" class="control-label">ID:</label>
            							<input type="text" class="form-control" id="recipient-name" value="{{fla.id}}" name="fla_id">
          							</div>
      							</div>
     				 			<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        							<button type="submit" class="btn btn-primary">确认</button>
      							</div>
      							</form>
    						</div>
  						</div>
					</div>
					<!-- updateModal -->
					<div class="modal fade updateModal" id="{{fla.id}}d" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  						<div class="modal-dialog" role="document">
    						<div class="modal-content">
      							<div class="modal-header">
       								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        							<h4 class="modal-title" id="exampleModalLabel">操作提示：</h4>
      							</div>
      							<form method="post" action="/upd_fla/">
      							<div class="modal-body">
          							<div class="form-group">
          								<input type="didden" class="update form-control" id="recipient-name" name="fla_id" value="{{fla.id}}">
            							<label for="recipient-name" class="control-label">flavor名称：</label>
            							<input type="text" name="fla_name" placeholder="{{fla.name}}"/>
          							</div>
          							<div class="form-group">
            							<label for="recipient-name" class="control-label">VCPU数量：</label>
            							<input type="text" name="fla_vcpu" placeholder="{{fla.vcpus}}"/>
          							</div>
          							<div class="form-group">
            							<label for="recipient-name" class="control-label">内存：</label>
            							<input type="number" name="fla_ram" min="0" placeholder="{{fla.ram}}"/>
          							</div>
          							<div class="form-group">
            							<label for="message-text" class="control-label" style="width:120px;">根磁盘 (GB)：</label>
            							<input type="number" name="fla_disk" min="0" placeholder="{{fla.disk}}"/>
          							</div>
          							<div class="form-group">
            							<label for="message-text" class="control-label" style="width:120px;">临时磁盘 (GB)：</label>
            							<input type="number" name="fla_Temporary_disk" min="0" value="0" placeholder="{{fla.Temporary_disk}}"/>
          							</div>
          							<div class="form-group">
            							<label for="message-text" class="control-label" style="width:120px;">交换磁盘 (MB)：</label>
            							<input type="number" name="fla_swap" min="0" value="0" placeholder="{{fla.swap}}"/>
          							</div>
      							</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        							<button type="submit" class="btn btn-primary">确认</button>
      							</div>
      							</form>
    						</div>
  						</div>
					</div>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
	</div>
</div>
<!-- createModal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">操作提示：</h4>
      </div>
      <form method="post" action="/cre_fla/">
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label" style="width:120px;">flavor名称：</label>
            <input type="text" name="fla_name" placeholder="flavor name"/>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">VCPU数量：</label>
            <input type="number" name ="fla_vcpu" min="0" max="10" value="" />
			<!-- type="number"，表示这是个数字类型的输入框。
			min="0",表示输入的数字不能小于0
			max="10"，表示输入的数字不能大于10
			step="2"，结合min的值，定义了选择范围在0、2、4、、、、一直到最大值。
			value="6"，表示默认值是6,和一般输入框的value属性是一样 -->
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">内存 (MB)：</label>
            <input type="number" name="fla_ram" min="0"/>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">根磁盘 (GB)：</label>
            <input type="number" name="fla_disk" min="0"/>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">临时磁盘 (GB)：</label>
            <input type="number" name="fla_Temporary_disk" min="0" value="0"/>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">交换磁盘 (MB)：</label>
            <input type="number" name="fla_swap" min="0" value="0"/>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="width:120px;">RX/TX 因子：</label>
            <input type="number" name="fla_rxtx" min="0" max="5" value="1"/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确认</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" language="JavaScript">
$('#createModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('操作为： ' + recipient)
	  /*modal.find('.modal-body .update').val(recipient)*/
})
$('.updateModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('操作为： ' + 'Update flavor')
	  modal.find('.modal-body .update').val(recipient)
})
function del() {
	var msg = "您真的确定要删除吗？\n\n请确认！";
		if (confirm(msg)==true){
			return true;
		}else{
			return false;
		}
	}
</script>
{% endblock %}