{% extends "base.html" %}
{% block title %}容器{% endblock %}
{% block right %}
<div class="col-md-9 col-md-offset-1 right">
	<ul class="breadcrumb">
		<li><a href="/login/list" target="_self">我的文件</a> <span class="divider">/</span></li>
		<li><a href="#" target="_self">{{ counte_name }}{{ request.session.count_name }}</a> <span class="divider">/</span>
		</li>
		<li class="active">Data</li>
	</ul>

	<div class="panel panel-default">
		<td><form action="ret" method="get">
			<button type="submit" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-chevron-left"></span> 返回
			</button>
			</form></td>

	<!-- Default panel contents -->
	<div class="panel-heading">
		<form action="/upload/{{ request.session.count_name }}" method="post" enctype="multipart/form-data">
			<td ><input type="file" name="obj">
			<button type="submit" class="btn btn-default btn-sm"> 上传文件</button>
			</td>
		</form>
	</div>

	<!-- Table -->
	<div class="row panel-body" style="height: 100%;width:100%; overflow:scroll;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>映像名称</th>
					<th>类型</th>
					<th>状态</th>
					<th>公有&nbsp;/&nbsp;私有</th>
					<th>受保护的</th>
					<th>格式</th>
					<th>大小</th>
					<th>创建时间</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% for ima in imalist %}	
			<tbody>
				<tr>
					<td>{{ima.name}}</td>
					<td>映像</td>
					<td>{{ima.status}}</td>
					<td>{{ima.visibility}}</td>
					<td>{{ima.protected|capfirst}}</td>
					<td>{{ima.disk_format|upper}}</td>
					<td>{{ima.size|filesizeformat}}</td>
					<td>{{ima.created_at}}</td>
					<td>...</td>
					<td width="50px">
						<form action="yulan/{{ request.session.count_name }}/{{obj.name}}" method="get">
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
								<button type="submit" class="btn btn-default" >预览</button>
 							</div>
						</form></td>
					<td width="50px">
						<form action="down/{{ request.session.count_name }}/{{obj.name}}" method="get">
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
  								<button type="submit" class="btn btn-default" >下载</button>
							</div>
						</form></td>
					<td width="50px">
						<form action="del/{{ request.session.count_name }}/{{obj.name}}" method="get">
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
								<button type="submit" class="btn btn-default"
									onclick="javascript:return del();">删除
                                </button>
                                </a>
                            </div>
						</form>
					</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>
{% endblock %}
<script>
    function del() {
var msg = "您真的确定要删除吗？\n\n请确认！";
if (confirm(msg)==true){
return true;
}else{
return false;
}
}
</script>